.form {
  h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  fieldset {
    border: 0;
    padding: 0;

    & > div {
      margin-top: 2rem;
    }
  }

  button {
    margin-top: 4rem;
    width: 100%;
    height: 4rem;
  }
}

.redirectLogin {
  margin-top: 3rem;

  a {
    color: #0bd3a3;
  }
}
