.title {
  font-size: 5rem;
  margin: 3rem 0;
}

.description {
  color: #444;
  font-size: 2rem;
  padding-bottom: 3rem;
}

.form {
  fieldset {
    .inputs {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 1.2rem;
    }

    & > div {
      margin-top: 2rem;
    }
  }

  button {
    margin-top: 4rem;
    height: 4rem;
  }
}
