.container {
  border-radius: 8px;
  border: 2px solid #0bd3a3;

  background-color: #fff;
  color: #0bd3a3;

  transition: 200ms;
  cursor: pointer;

  padding: 0.6rem 1.6rem;

  &:hover {
    background-color: #0bd3a3;
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #0bd3a3aa;
    border: none;
    color: white;
  }
}
