.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100rem;

  margin: 0 auto;
  padding: 2rem 2rem;
}

.headerLeft {
  display: flex;
  align-items: center;

  img {
    cursor: pointer;
  }

  .headerNav {
    display: flex;
    align-items: center;

    a {
      margin-left: 3.2rem;
      color: #444;
      cursor: pointer;

      transition-duration: 200ms;

      &:hover {
        color: #000;
      }
    }
  }
}

.headerRight {
  display: flex;
  align-items: center;

  button {
    margin-left: 3.2rem;
  }
}
