.aboutUs {
  .title {
    font-size: 5rem;
    padding: 3rem 0;

    b {
      color: #0bd3a3;
    }
  }

  .description {
    color: #444;
    font-size: 2rem;
    max-width: 60rem;
    padding-bottom: 4rem;
  }
}
